@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --green: #1C4F4A;
  --orange: #FC6719;
  --paleblue: #CCDCF6;
  --green1: #9eb1ac;
  --green2: #dfe3de;
  --yellow: #efb130;
  --paleorange: #fbebd6;
  --blue: #10398C;
  --lightgray: #f5f3ee;
  --pink: #F8EEE3;
}

body{
  background-color: var(--lightgray);
  /* padding: 5rem; */
  font-family: 'Poppins', sans-serif;
}

input:focus{
  outline: none;
}

@media only screen and (max-width: 768px){  
}